.btn-group button {
  background-color: rgb(255,105,180);
  border: 10px blue; 
  color: purple ; 
  font-size: 20px;
  padding: 10px 15px; 
  cursor: pointer; 
  float: left; 
}
.btn-group button:not(:last-child) {
  border-right: none; 
}
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}
.btn-group button:hover {
  background-color: purple;
  color:rgb(255,105,180);
}
.title-head {
	color: rgb(191,0,255);
	font-family: Blippo;
	margin-top: -100px;
	margin: 50px auto;
	max-width: 600px;
	font-size: 30px;
	text-align: center;
	position: relative;
	text-decoration: overline underline;
}
.intro{ 
	font-family: Marker Felt;
 }
h2 {
	color: white;
	font-family: Courier New;
	margin: 10px auto;
	font-size: 40px;
	text-decoration: bold;
	text-align: center;
	position: relative;
	text-decoration: ;