.btn-group button {
  background-color: rgb(255,105,180);
  border: 10px blue; 
  color: purple ; 
  font-size: 20px;
  padding: 10px 15px; 
  cursor: pointer; 
  float: left; 
}
.btn-group button:not(:last-child) {
  border-right: none; 
}
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}
.btn-group button:hover {
  background-color: purple;
  color:rgb(255,105,180);
}
.title-head {
	color: rgb(191,0,255);
	font-family: impact;
	margin-top: -100px;
	margin: 50px auto;
	max-width: 600px;
	font-size: 30px;
	text-align: center;
	position: relative;
	text-decoration: underline;
}
.intro{
	color: white;
	font-family: comic sans;
	text-align: center;
	font-size: 22px; 
	position: relative;
	text-decoration: none; 
 }
 .gay_vader{
 	position: center;

 }
.row {
   display: flex;
  flex-wrap: wrap;
  padding: 0 4px;

}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
